html {
    --container: 1180px;
    --padding-container: 10px;
}

body {
    font-family: 'Source Sans 3';
    min-width: 320px;
    min-height: 100vh;
    background-color: #FFFFFF;
    color: #333333;
    width: 1440px;
}

.body-container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

img,
svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.button {
    padding: 0;
    background-color: transparent;
    border: noner;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    bottom: 0;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.second-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
    color: #333333;
}

.hero {
    width: 1180px;
    height: 616px;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.main {
    display: flex;
    flex-direction: column;
}

.hero-container {
    width: 1180px;
    height: 616px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.main-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}

.main-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
}

.hero_title {
    width: 580px;
    height: 144px;
}

.hero_text {
    width: 379px;
    height: 94px;
    margin-top: 26px;
    margin-left: 20px;
}

.hero-img {
    width: 1180px;
    height: 440px;
}

.about {
    width: 1180px;
    height: 602px;
    top: 921px;
    left: 130px;
    margin-bottom: 80px;
}

.products {
    width: 1180px;
    height: 985px;
    margin-bottom: 80px;
}

.products-items {
    height: 985px;
    row-gap: 25px;
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.title-product {
    width: 283px;
    height: 58px;
    margin-bottom: 32px;
}

.title-about {
    width: 480px;
    height: 58px;
    margin-bottom: 32px;
}

.title-map {
    width: 340px;
    height: 58px;
    margin-bottom: 32px;
}

.title-news {
    width: 340px;
    height: 58px;
    margin-bottom: 32px;
}

.map {
    width: 1180px;
    height: 805px;
    margin-bottom: 80px;
}

.news {
    width: 1180px;
    height: 568px;
    margin-bottom: 80px;
}

.bg {
    width: 380px;
    height: 435px;
}

.product {
    width: 1180px;
}

.new {
    width: 380px;
height: 478px;
grid-row: 20px;
}

.new-container{
    display: flex;
    justify-content: space-between;
}

.footer {
    width: 1440px;
    height: 361px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0;
}